@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
	/*구글 웹 폰트 적용*/
* {
	font-family: Nanum Gothic; /*웹 폰트 지정*/
}

#article {
	margin: 0 15% 5%;
	font-family: 'Malgun Gothic';
	text-align: center;
}

#logo {
	color: rgb(147, 176, 255);
	font-size: 30px;
	font-weight: bold;
}

/* 헤더 테이블 */
.headtable {
	width: 1000px;
	font-size: 14px;
	border-spacing: 5px;
}

/*헤더 검색창, 버튼*/
.newlist-button, .sales-button {
	margin: 0;
	width: 160px;
	height: 40px;
	border: 1px solid #999999; /*보더 삭제*/
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 0;
	-webkit-appearance: none;
	border-radius: 6px;
	box-sizing: border-box;
	border: 1px solid #CED4DA;
	color: #212529;
	text-align: center;
	font-weight: 700;
	background-color: #fff;
	margin: 1.6rem 0;
	text-decoration: none;
}

.button-text {
	color: #4D5159;
	font-size: 16px;
}

#fixed-bar-search {
	left: 150px;
	top: 16px;
	border-radius: 5px;
	border: solid 3px #e9ecef;
	text-decoration: none;
	padding: 0 1.6rem;
	height: 40px;
	box-sizing: border-box;
}

.search-input-wrap {
	display: flex;
	justify-content: space-between;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.fixed-search-input {
	display: block;
	width: 300px;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #212529;
	background-color: transparent;
}

#header-search-button {
	border: none;
	margin: 0;
	background-color: transparent;
}
/*헤더 끝*/

/* 카테고리 */
aside#left {
	float: left;
	width: 12em;
	margin-right: 1em;
	text-align: left;
}

aside#left ul {
	list-style: none
}

aside#left ul li {
	font-size: 14px;
	background-color: white;
	padding: 5px 10px;
	border-bottom: 1px solid black;
}

aside#left ul li a {
	color: black;
	text-decoration: none;
}

aside#left ul li:hover {
	background-color: rgb(255, 245, 190);
}

.cat-header {
	pointer-events: none;
}

aside#main {
	float: left;
}

button.btn1 {
	position: absolute;
	top: 24%;
	left: 42%;
}

button.btn2 {
	position: absolute;
	top: 24%;
	left: 53%;
}

button.btn3 {
	position: absolute;
	top: 24%;
	left: 64.5%;
}

button.btn4 {
	position: absolute;
	top: 24%;
	left: 77%;
}

button.btn5 {
	position: absolute;
	top: 57.5%;
	left: 42%;
}

button.btn6 {
	position: absolute;
	top: 57.5%;
	left: 53%;
}

button.btn7 {
	position: absolute;
	top: 57.5%;
	left: 64.5%;
}

button.btn8 {
	position: absolute;
	top: 57.5%;
	left: 77%;
}

button.btn9 {
	position: absolute;
	top: 91%;
	left: 42%;
}

button.btn10 {
	position: absolute;
	top: 91%;
	left: 53%;
}

button.btn11 {
	position: absolute;
	top: 91%;
	left: 64.5%;
}

button.btn12 {
	position: absolute;
	top: 91%;
	left: 77%;
}

/* 책 정보 입력 */
#page-info {
	text-align: left;
	font-size: 18pt;
	font-weight: bold;
	color: white;
	background-color: rgb(147, 176, 255);
	margin-left: 20px;
}

#detail {
	text-align: center;
}

#book {
	display: inline-block;
}
