	.detail-section {
    		margin: 0 auto;
    		width: 500px;
    	}
    	.detail-info2 {
    		border: 1px solid black;
    		border-collapse: collapse;
    	}
    	.detail-info2 th {
    	    border: 1px solid black;
    		border-collapse: collapse;
    	}
    	.detail-info2 td {
    	    border: 1px solid black;
    		border-collapse: collapse;
    	}
    	th, td {
    		padding-right: 15px;
    		padding-left: 15px;
    	}
    	.detail-button-text {
    		color: #4D5159;
    		font-size: 16px;
    	}
    	.detail-button {
            margin: 0;
            width: 60px;
            height: 50px;
            border: 1px solid #999999;
            -webkit-appearance: none;
            border-radius: 6px;
            box-sizing: border-box;
            border: 1px solid #CED4DA;
            color: #212529;
            text-align: center;
            font-weight: 700;
            background-color: #fff;
            text-decoration: none;
        }
        .detail-btn-primary {
        	margin: 0;
            width: 80px;
            height: 50px;
            border: 1px solid #999999;
            -webkit-appearance: none;
            border-radius: 6px;
            box-sizing: border-box;
            border: 1px solid #CED4DA;
            color: #212529;
            text-align: center;
            font-weight: 700;
            background-color: #fff;
            text-decoration: none;
        }
        .detail-btn-warning {
            margin: 0;
            width: 100px;
            height: 50px;
            border: 1px solid #999999;
            -webkit-appearance: none;
            border-radius: 6px;
            box-sizing: border-box;
            border: 1px solid #CED4DA;
            color: #212529;
            text-align: center;
            font-weight: 700;
            background-color: #fff;
            text-decoration: none;
        }
