@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
	/*구글 웹 폰트 적용*/
* {
	font-family: Nanum Gothic; /*웹 폰트 지정*/
}

.tg 
 {
 	border-collapse:collapse;
 	border-spacing:0;}
 	
.tg td{	
	border-color:black;
	border-style:solid;
	border-width:1px;
 	overflow:hidden;
  	padding:10px 5px;
 	word-break:normal;}
  
.tg th{
	border-color:black;
	border-style:solid;
	border-width:1px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;}
    
.tg .tg-0lax{
	text-align:left;
	vertical-align:top}
